<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS - AMBERSIVE RESTful Service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="../build/rest.min.js"></script>
    <script>

        angular.module('app', ['ambersive.rest']).controller('DemoController',function($scope,RestSrv){

            $scope.data = {};

            RestSrv.config.auth.tokenName = 'ETag';
            RestSrv.config.auth.storageName = 'ETag';

            RestSrv.call({
                'method':'GET',
                'url':'https://api.github.com/'
            },function(result){
                $scope.data = result;
            });

        });

    </script>
</head>
<body ng-app="app">
    <div ng-controller="DemoController">
        {{data}}
    </div>
</body>
</html>